(
    name: "COSMIC",
    light: (
        name: "Cosmic Light",
        path: "Cosmic-Light.ron",
        wallpaper: "kate-hazen-unleash-your-robot-blue.png",
    ),
    dark: (
        name: "Cosmic Dark",
        path: "Cosmic-Dark.ron",
        wallpaper: "kate-hazen-unleash-your-robot.png",
    ),
)
