(
    name: "COSMIC",
    light: (
        name: "Cosmic Light",
        path: "Cosmic-Light.ron",
        wallpaper: "",
    ),
    dark: (
        name: "Cosmic Dark",
        path: "Cosmic-Dark.ron",
        wallpaper: "",
    ),
)
